
# Common test environment information, Should be in sync with ovsdb_server.sh
IP=127.0.0.1
PORT=9001

########################
# Server configurations
########################
PROBE=""

########################
# Client configurations
########################
OUTPUT_DIR=/tmp/_mon_output
PID_DIR=/tmp/_pids

# The monitor method in use
METHOD=monitor2

# Table and columns to be monitored.
# Examples:
#       "ALL"             -- monitor all tables and columns. 
#       "Interface"       -- only monitor the interface table
#       "Interface name"  -- only monitor the name column of the interface
#                            table
# See ovsdb-client(1) for more information
COLUMNS="ALL"

# Default sacle number, command line option can overwrite it.
# See ovsdb-client.sh --help for more details.
CONN_SCALE=2
