########################
# Common for both client and server,
########################
IP=127.0.0.1
PORT=9002

#Set to "YES" will generate more logs that helps
#to debug the set up.
#Set to "" for actual scale test.
DEBUG=""

########################
# Server configurations
########################

#Set The "inactivity_probe" column of the Manager table.
#Set to "" to leave this column unset
#Set to "0" to turn off inactivity probe
#Set to any other integer value to change inactivity probe time (in MS).
PROBE="0"

########################
# Client configurations
########################
OUTPUT_DIR=/tmp/_mon_output
PID_DIR=/tmp/_pids

# The monitor method in use
METHOD=monitor2

# Table and columns to be monitored.
# Examples:
#       "ALL"             -- monitor all tables and columns. 
#       "Interface"       -- only monitor the interface table
#       "Interface name"  -- only monitor the name column of the interface
#                            table
# See ovsdb-client(1) for more information
COLUMNS="Interface"

# Default sacle number, command line option can overwrite it.
# See ovsdb-client.sh --help for more details.
CONN_SCALE=2


